@inherits LayoutComponentBase

<div class="page">
    <main class="content px-4">
        <header class="row">
            <NavMenu />
            <h1 class="text-center text-uppercase main-title">
                FlixFlix
            </h1>
            <h2 class="text-secondary fs-4 text-center mb-4">
                Busca, comenta y puntua tus películas favoritas
            </h2>
        </header>
        @Body
    </main>
</div>
