@inject theMovieDb theMovieDb;

@if (errorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>

}

@if (isLoading)
{
    <div class="alert alert-info" role="alert">
        Loading...
    </div>
}
else if (movieList != null)
{
    if (movieList.results.Count > 0)
    {
        <ul class="movies-grid px-3">
            @foreach (var movie in movieList.results)
            {
                <li>
                    <MovieCard movie="@movie" />
                </li>
            }
        </ul>
    }
    else
    {
        <div class=" alert alert-warning" role="alert">
            No hubo resultados para esta búsqueda.
        </div>
    }
}


@code {
    [Parameter]
    public theMovieDb.Movies? movieList { get; set; }
    [ParameterAttribute]
    public bool isLoading { get; set; }
    [Parameter]
    public string? errorMessage { get; set; }
}