<nav class="navbar navbar-dark justify-content-end">
    <NavLink href="/" class="nav-link text-white">
        <span class="oi oi-home" aria-hidden="true"></span> Inicio
    </NavLink>
    <NavLink href="/my-list" class="nav-link text-white">
        <span class="oi oi-list" aria-hidden="true"></span> Mi lista
    </NavLink>
</nav>

@code {
}
