@using System;
@using System.Text.Json;
@inject theMovieDb theMovieDb;

<input type="text" @bind="inputValue" @oninput="OnInput" class="search-bar mb-3" placeholder="Buscar 📺" />

@if (inputValue.Length > 0)
{
    <div class="text-secondary px-3 mb-3">
        Resultados de búsqueda para: <span class="fw-bold">@inputValue</span>
    </div>
}

@code {
    private string inputValue = "";
    private Timer debounceTimer;

    private void OnInput(ChangeEventArgs e)
    {
        inputValue = e.Value.ToString();
        if (debounceTimer != null)
        {
            debounceTimer.Dispose();
        }
        debounceTimer = new Timer(HandleSearch, null, 400, Timeout.Infinite);
    }

    private async void HandleSearch(object state)
    {
        await theMovieDb.SearchMoviesAsync(inputValue);
    }
}
