@page "/"
@inject theMovieDb theMovieDb;

<main class="container-lg">
    <div class="row">
        <h1 class="text-center text-uppercase main-title">
            FlixFlix
        </h1>
        <h2 class="text-secondary fs-4 text-center mb-4">
            Busca, comenta y puntua tus películas favoritas
        </h2>
    </div>
    <SearchBar />

    @if (theMovieDb.MoviesList != null)
    {
        if (theMovieDb.MoviesList.results != null)
        {
            <ul>
                @foreach (var movie in theMovieDb.MoviesList.results)
                {
                    <li>@movie.title</li>
                }
            </ul>
        }
        else
        {
            <span>No hubo suerte</span>
        }
    }
</main>


@code {
    protected override async Task OnInitializedAsync()
    {
        theMovieDb.MoviesListChanged += OnMoviesListChanged;
    }

    private void OnMoviesListChanged(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}