@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject theMovieDb theMovieDb

<main class="container-lg">
    <SearchBar />
    <MovieGrid 
        movieList="@movieList" 
        isLoading="@isLoading" 
        errorMessage="@errorMessage" />
</main>


@code {
    private theMovieDb.Movies? movieList;
    private bool isLoading;
    private string? errorMessage;
    protected override async Task OnInitializedAsync()
    {
        theMovieDb.MoviesListChanged += OnMoviesListChanged;
    }

    private void OnMoviesListChanged(object sender, EventArgs e)
    {
        movieList = theMovieDb.MoviesList;
        isLoading = theMovieDb.isLoading;
        errorMessage = theMovieDb.errorMessage;
        StateHasChanged();
    }

}