@page "/"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject theMovieDb theMovieDb

<main class="container-lg">
    <SearchBar />
    <MovieGrid 
        movieList="@movieList" 
        isLoading="@isLoading" 
        errorMessage="@errorMessage" />
</main>


@code {
    private List<theMovieDb.Result> movieList;
    private bool isLoading;
    private string? errorMessage;
    protected override async Task OnInitializedAsync()
    {
        theMovieDb.MoviesListChanged += OnMoviesListChanged;
    }

    private void OnMoviesListChanged(object sender, EventArgs e)
    {
        if (theMovieDb.MoviesList != null)
        {
            movieList = theMovieDb.MoviesList.results;
            isLoading = theMovieDb.isLoading;
            errorMessage = theMovieDb.errorMessage;
        }
        else
        {
            movieList = new List<theMovieDb.Result>();
            isLoading = false;
        }
        StateHasChanged();
    }
}