.movie-bg {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.8)
}
.movie-bg .overlay {
    height: 100%;
}

.movie-bg .overlay .movie-info-card {
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(5px);
    padding: 1rem 1rem 1.75rem 1rem;
    color: white;
    overflow:auto;
}

.movie-bg .overlay .movie-info-card img {
    border-radius: 0.5rem
}

.movie-bg .overlay .movie-info-card .movie-comment {
    border-radius: 0.5rem;
    background: rgba(0,0,0,0.5);
    width: 100%;
    min-height: 300px;
    border: none;
    padding: 1rem;
    color: white;
}
